<div class="container">
  <h1 class="title text-center">Mister Cocktail</h1>
  <div class="cocktails">
    <% @cocktails.each do |cocktail| %>
      <div class="cocktail-card d-flex flex-column align-items-center mb-4 mt-3" style="background-image: url('<%= cl_image_path cocktail.photo.key, height: 200, width: 350, crop: :fill %>')">
        <%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name text-right align-text-bottom" %>
        <%#= image_tag "soda_italiana.jpg", alt: "Soda Italiana", width: 200, class:"cocktail-img" %>
      </div>
    <% end %>
  </div>
  <%= link_to "New Cocktail", new_cocktail_path, class: "btn btn-ghost"%>
</div>